#messages{
	margin: 0 auto;
	width: 400px;
	z-index: -1;
}

.message-container{
	position: absolute;
	top:20%;
	width: 100%;
	z-index: 100;
}

.login{
	margin-top: 5em;
}

.chart-header{
	position: fixed;
	display: block;
	font-weight: bold;
	margin-top: -1.5em;
}

.chart-div{
	padding-top: 2em;
}