{% extends 'engine/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Systems [ {{ system_count }} ] </h3>
			</div>
			<div class="panel-body">
				{% for system in systems %}
				<div class="row text-center">
					<div class="col-md-3">
						<p>{{ system }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Manage</h3>
			</div>
			<div class="panel-body text-center">
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
